################## Eclipse ######################
target
.metadata
.settings
.classpath
.project
*.class
tmp/
*.tmp
*.bak
*~.nib
local.properties
.loadpath
.recommenders

################### Log file and Lock ################## 
*.log
*.lock

################### Plugins ################## 
/.plugins/

################### BlueJ files ################## 
*.ctxt

################### Mobile Tools for Java (J2ME) ################## 
.mtj.tmp/

###################  Package Files ################### 
*.jar
!Application_Runnable_JARs/*.jar
*.war
*.nar
*.ear
*.rar

###################  virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml ################## 
hs_err_pid*
/bin/
